{% load i18n filters %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} - {% trans "Lekang Gruppen" %}{% endblock %}</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
</head>

<body{% if user.is_authenticated %} class="add-padding"{% endif %}>
    {% if user.is_authenticated %}
        {% block navbar %}
            <nav>
                <div class="navbar navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container-fluid">

                            <ul class="nav">
                                <li><img src="/static/img/logo-white.png" class="pull-left" alt="Lekang gruppen"/></li>
                                <li><a href="{% url references %}">{% trans "References" %}</a></li>

                                {% if perms.auth.change_user %}
                                    <li><a href="{% url admin_users %}">{% trans "Users" %}</a></li>
                                {% endif %}

                                {% if perms.references.change_customer %}
                                    <li><a href="{% url list_customers %}">{% trans "Customers" %}</a></li>
                                {% endif %}

                                {% if perms.references.administrate_filters %}
                                <li class="dropdown">
                                    <a href="#"
                                       class="dropdown-toggle"
                                       data-toggle="dropdown">
                                        {% trans "Administration" %}
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url edit_markets %}">{% trans "Edit market list" %}</a></li>
                                        <li><a href="{% url edit_types %}">{% trans "Edit application list" %}</a></li>
                                        <li><a href="{% url edit_filter_solutions %}">{% trans "Edit filter solution list" %}</a></li>
                                        <li><a href="{% url edit_manufacturers %}">{% trans "Edit manufacturer list" %}</a></li>
                                    </ul>
                                </li>
                                {% endif %}
                            </ul>

                            <ul class="nav pull-right">
                                <li><a href="{% url logout %}">{% trans "Log out" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}
    {% endif %}
<section>
    <div class="container-fluid">
        {% if not user.is_authenticated %}
            <header class="row-fluid">
                <nav id="lang-menu" class="pull-right">
                    {% for lang_code, language in LANGUAGES %}
                        {% if not LANGUAGE_CODE == lang_code %}<a href="{{ request.path|lang_path:lang_code }}"
                                                                  title="{{ language }}"><img
                                src="/static/img/{{ lang_code }}.png" height="16" width="16"
                                alt="{{ language }}"/></a>{% endif %}
                    {% endfor %}
                </nav>
                <img src="/static/img/logo.png" class="pull-left" alt="Lekang gruppen"/>

                <h1>{% trans "References" %}</h1>
            </header>
        {% endif %}

        <article class="row-fluid">
            <div id="alert">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            <a class="close" data-dismiss="alert">×</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% block content %}{% endblock %}
        </article>

        <footer class="row-fluid">
        {% block footer %}
            <hr class="style1"/>
            <span class="no-print">
            {% if not user.is_authenticated %}
                <a href="{% url login %}">{% trans "Login" %}</a>
            {% else %}
                <a href="{% url logout %}">{% trans "Logout" %}</a>
            {% endif %}
            </span>
        {% endblock %}
        </footer>
    </div>
{% block modal %}{% endblock %}
</section>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/chosen.min.js"></script>
{#<script src="/static/js/jquery.retina.js"></script>#}
<script src="/static/js/retina.js"></script>
<script src="/static/js/messages.js"></script>
<script src="/static/js/fs.js"></script>
{% if tiny_mce %}
    <!-- Load TinyMCE -->
    <script type="text/javascript" src="/static/js/tiny_mce/jquery.tinymce.js"></script>
    <script type="text/javascript" src="/static/js/tiny_mce/conf.js"></script>
    <!-- /TinyMCE -->
{% endif %}

{% block js %}{% endblock %}
</body>
</html>
