{% extends "base.html" %}
{% load filters i18n %}

{% block title %}{% if form.instance.pk %}{% trans "Edit reference" %}{% else %}{% trans "Add reference" %}{% endif %}{{ block.super }}{% endblock %}

{% block content %}
    <h1>{% if form.instance.pk %}{% trans "Edit reference" %}{% else %}{% trans "Add reference" %}{% endif %}</h1>
    {% if forms.non_field_errors %}
        <div class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            <strong>Error!</strong> {{ form.non_field_errors }}
        </div>
    {% endif %}
    <form class="form form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            {% for field in form %}
                {% if field.is_hidden %}
                    {{ field }}
                {% else %}
                    <div class="control-group{% if field.errors %} error{% endif %}">
                        {% if field.type == 'checkbox' %}
                            <div class="controls">
                                <label class="checkbox">
                                    {{ field }} <span>{{ field.label }}</span>
                                </label>

                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}

                                {% if field.help_text|safe %}
                                    <p class="help-block">
                                        {{ field.help_text|safe }}
                                    </p>
                                {% endif %}
                            </div>
                        {% else %}
                            <label class="control-label">
{#                                {{ forloop.counter }}#}
                                {{ field.label }}</label>

                            <div class="controls">
                                {{ field }}

                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}

                                {% if field.help_text|safe %}
                                    <p class="help-block">
                                        {{ field.help_text|safe }}
                                    </p>
                                {% endif %}

                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </fieldset>
        <div class="controls">
            <button type="submit" class="btn primary">Submit</button>
        </div>
    </form>
{% endblock %}